<strong> Olá, {{ student }} </strong>
<p>A sua duvida foi respondida, confira:</p>
<p>
  <strong>Pergunta: </strong> {{ question }}<br />
  <strong>Resposta: </strong> {{ answer }}<br />
  <br />
  <small>
    Ficou com dúvida? Pergunte novamente!.
  </small>
</p>
